<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false">
    <testsuites>
        <testsuite name="catalog-tests">
            <file>./tests/SampleTest.php</file>
            <file>./tests/Sample2Test.php</file>
        </testsuite>
        <testsuite name="admin-tests">
            <file>./tests/SampleAdminTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>